.home {
  background-color: #ffffff;

  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.home .div-2 {
  background-color: #ffffff;
  height: 1945px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.home .img {
  height: 148px;
  left: 2736px;
  position: absolute;
  top: 453px;
  width: 145px;
}

.home .overlap {
  height: 30px;
  left: -70px;
  position: absolute;
  top: 154px;
  width: 1117px;

}

.home .text-wrapper-5 {
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "ABeeZee", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 621px;
}

.home .rectangle-7 {
  left: 153px !important;
  position: absolute !important;
  top: 53px !important;
}

.home .rectangle-instance {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/rectangle-16@2x.png) !important;
  left: 489px !important;
  position: absolute !important;
  top: 53px !important;
  width: 292px !important;
}

.home .rectangle-7-instance {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/rectangle-17@2x.png) !important;
  left: 824px !important;
  position: absolute !important;
  top: 53px !important;
}

.home .group {
  height: 295px;
  left: 353px;
  position: absolute;
  top: 39px;
  width: 477px;
}

.home .overlap-group {
  background-color: #dadde3;
  border-radius: 40px;
  height: 295px;
  position: relative;
  width: 471px;
}

.home .rectangle-3 {
  background-color: #3488d77a;
  border-radius: 20px;
  height: 57px;
  left: 146px;
  position: absolute;
  top: 210px;
  width: 179px;
}

.home .when-march {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33px;
  width: 363px;
}

.home .text-wrapper-6 {
  font-weight: 700;
}

.home .text-wrapper-7 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
}

.home .where-the-green {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 129px;
}

.home .text-wrapper-8 {
  color: #0f52ba;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 48px;
  left: 416px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
}

.home .text-wrapper-9 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 524px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 264px;
  width: 154px;
}

.home .component-1 {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.home .rectangle-4 {
  height: 148px;
  left: 2736px;
  position: absolute;
  top: 786px;
  width: 145px;
}

.home .rectangle-5 {
  height: 148px;
  left: 2736px;
  position: absolute;
  top: 1119px;
  width: 145px;
}

.home .overlap-2 {
  height: 247px;
  left: -134px;
  position: absolute;
  top: 490px;
  width: 845px;
}

.home .design-component-instance-node {
  left: 217px !important;
  position: absolute !important;
  top: 50px !important;
}

.home .rectangle-6 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/rectangle-16@2x.png) !important;
  left: 553px !important;
  position: absolute !important;
  top: 50px !important;
  width: 292px !important;
}

.home .overlap-3 {
  height: 247px;
  left: -187px;
  position: absolute;
  top: 823px;
  width: 898px;
}

.home .rectangle-8 {
  left: 270px !important;
  position: absolute !important;
  top: 50px !important;
}

.home .rectangle-9 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/rectangle-16@2x.png) !important;
  left: 606px !important;
  position: absolute !important;
  top: 50px !important;
  width: 292px !important;
}

.home .rectangle-10 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/rectangle-17@2x.png) !important;
  left: 754px !important;
  position: absolute !important;
  top: 540px !important;
}

.home .rectangle-11 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/rectangle-17@2x.png) !important;
  left: 754px !important;
  position: absolute !important;
  top: 873px !important;
}

.home .text-wrapper-10 {
  -webkit-text-stroke: 0.6px #000000;
  color: #000000;
  font-family: "ABeeZee", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 151px;
  width: 129px;
}

.home .frame-2 {
  border: 1px solid;
  border-color: #00000012;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #00000040;
  height: 52px;
  left: 1099px;
  overflow: hidden;
  position: absolute;
  top: 193px;
  width: 304px;
}

.home .overlap-4 {
  height: 50px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 247px;
}

.home .frame-3 {
  border: 1px solid;
  border-color: #00000008;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 175px;
}

.home .overlap-wrapper {
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.home .overlap-5 {
  height: 37px;
  left: 7px;
  position: relative;
  top: 5px;
  width: 41px;
}

.home .ellipse-2 {
  height: 35px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 36px;
}

.home .bxs-badge {
  height: 20px;
  left: 21px;
  position: absolute;
  top: 0;
  width: 20px;
}

.home .div-wrapper {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/vector.svg);
  background-size: 100% 100%;
  height: 17px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 17px;
}

.home .text-wrapper-11 {
  color: #ffffff;
  font-family: "ABeeZee", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 8px;
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 4px;
}

.home .text-wrapper-12 {
  color: #000000;
  font-family: "ABeeZee", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 33px;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  width: 104px;
}

.home .frame-4 {
  height: 39px;
  left: 171px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 76px;
}

.home .text-wrapper-13 {
  color: #000000;
  font-family: "ABeeZee", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 44px;
  left: 3px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 83px;
}

.home .frame-5 {
  background-color: #ffffff;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.home .bi-trophy-fill {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/vector-1.svg);
  background-size: 100% 100%;
  height: 25px;
  left: 12px;
  position: relative;
  top: 12px;
  width: 25px;
}

.home .text-wrapper-14 {
  color: #00000066;
  font-family: "ABeeZee", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 16px;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 17px;
}

.home .frame-6 {
  border: 1px solid;
  border-color: #00000012;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #00000040;
  height: 52px;
  left: 1099px;
  overflow: hidden;
  position: absolute;
  top: 255px;
  width: 304px;
}

.home .overlap-group-2 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/vector-2.svg);
  background-size: 100% 100%;
  height: 17px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 17px;
}

.home .bi-trophy-fill-2 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/vector-3.svg);
  background-size: 100% 100%;
  height: 25px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 25px;
}

.home .frame-7 {
  border: 1px solid;
  border-color: #00000012;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #00000040;
  height: 52px;
  left: 1099px;
  overflow: hidden;
  position: absolute;
  top: 317px;
  width: 304px;
}

.home .overlap-group-3 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/vector-4.svg);
  background-size: 100% 100%;
  height: 17px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 17px;
}

.home .bi-trophy-fill-wrapper {
  background-color: #ffffff;
  height: 50px;
  left: 0;
  position: absolute;
  top: -3px;
  width: 50px;
}

.home .bi-trophy-fill-3 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/vector-5.svg);
  background-size: 100% 100%;
  height: 25px;
  left: 12px;
  position: relative;
  top: 12px;
  width: 25px;
}

.home .frame-8 {
  border: 1px solid;
  border-color: #00000012;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #00000040;
  height: 52px;
  left: 1099px;
  overflow: hidden;
  position: absolute;
  top: 379px;
  width: 304px;
}

.home .frame-9 {
  border: 1px solid;
  border-color: #00000008;
  height: 50px;
  left: 50px;
  position: absolute;
  top: 0;
  width: 172px;
}

.home .overlap-6 {
  height: 38px;
  left: 7px;
  position: relative;
  top: 5px;
  width: 41px;
}

.home .ellipse-3 {
  height: 35px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 35px;
}

.home .overlap-group-4 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/vector-12.svg);
  background-size: 100% 100%;
  height: 17px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 17px;
}

.home .akar-icons-circle {
  height: 25px;
  left: 12px;
  position: relative;
  top: 13px;
  width: 25px;
}

.home .overlap-group-5 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/vector-13.svg);
  background-size: 100% 100%;
  height: 23px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 23px;
}

.home .text-wrapper-15 {
  color: #00000073;
  font-family: "ABeeZee", Helvetica;
  font-size: 10px;
  font-weight: 400;
  height: 21px;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 21px;
}

.home .frame-10 {
  height: 47px;
  left: 222px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 64px;
}

.home .text-wrapper-16 {
  color: #000000;
  font-family: "ABeeZee", Helvetica;
  font-size: 15px;
  font-weight: 400;
  height: 44px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 2px;
  width: 83px;
}

.home .frame-11 {
  border: 1px solid;
  border-color: #00000012;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #00000040;
  height: 52px;
  left: 1099px;
  overflow: hidden;
  position: absolute;
  top: 565px;
  width: 304px;
}

.home .overlap-group-6 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/vector-10.svg);
  background-size: 100% 100%;
  height: 17px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 17px;
}

.home .overlap-group-7 {
  background-image: url(https://c.animaapp.com/RY7ErzkH/img/vector-11.svg);
  background-size: 100% 100%;
  height: 23px;
  left: 1px;
  position: relative;
  top: 1px;
  width: 23px;
}

.home .frame-12 {
  border: 1px solid;
  border-color: #00000012;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #00000040;
  height: 52px;
  left: 1099px;
  overflow: hidden;
  position: absolute;
  top: 503px;
  width: 304px;
}

.home .frame-13 {
  border: 1px solid;
  border-color: #00000012;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #00000040;
  height: 52px;
  left: 1099px;
  overflow: hidden;
  position: absolute;
  top: 441px;
  width: 304px;
}
